RubbishRecycle/.vs/RubbishRecycle/v14/.suo
RubbishRecycle/RubbishRecycle.Controllers/obj/
RubbishRecycle/RubbishRecycle.Main/obj/
RubbishRecycle/RubbishRecycle.Models/obj/
RubbishRecycle/RubbishRecycle.Controllers/bin/
RubbishRecycle/RubbishRecycle.Main/bin/
RubbishRecycle/RubbishRecycle.Models/bin/
RubbishRecycle/RubbishRecycle.Test/bin/
RubbishRecycle/RubbishRecycle.Test/.vs/RubbishRecycle.Test/v14/
RubbishRecycle/RubbishRecycle.Test/obj/
RubbishRecycle/.vs/
RubbishRecycle/RubbishRecycle.Main/Properties/PublishProfiles/
PC/RubbishRecycle/RubbishRecycle.PC.Communication/bin/
PC/RubbishRecycle/RubbishRecycle.PC.Communication/obj/
PC/RubbishRecycle/RubbishRecycle.PC.Contract/bin/
PC/RubbishRecycle/RubbishRecycle.PC.Contract/obj/
PC/RubbishRecycle/RubbishRecycle.PC.Main/bin/
PC/RubbishRecycle/RubbishRecycle.PC.Main/obj/
PC/RubbishRecycle/.vs/RubbishRecycle/v14/
RubbishRecycle/RubbishRecycle.Toolkit/obj/
RubbishRecycle/RubbishRecycle.Toolkit/bin/
