RubbishRecycle/RubbishRecycle.Main/bin/
RubbishRecycle/RubbishRecycle.Config/bin/
RubbishRecycle/.vs/
RubbishRecycle/RubbishRecycle.Config/obj/
RubbishRecycle/RubbishRecycle.Controllers/bin/
RubbishRecycle/RubbishRecycle.Controllers/obj/
RubbishRecycle/RubbishRecycle.Models/obj/
RubbishRecycle/RubbishRecycle.Models/bin/
RubbishRecycle/RubbishRecycle.Main/obj/
RubbishRecycle/RubbishRecycle.Toolkit/obj/
RubbishRecycle/RubbishRecycle.Toolkit/bin/
RubbishRecycle/RubbishRecycle.Repositories/obj/
RubbishRecycle/RubbishRecycle.Repositories/bin/
RubbishRecycle/RubbishRecycle.Test/obj/
