RubbishRecycle/.vs/
RubbishRecycle/RubbishRecycle.Main/obj/
RubbishRecycle/RubbishRecycle.Main/bin/
RubbishRecycle/RubbishRecycle.SelfHost/obj/
RubbishRecycle/RubbishRecycle.SelfHost/bin/
RubbishRecycle/RubbishRecycle.Web.Api/obj/
RubbishRecycle/RubbishRecycle.Web.Api/bin/
RubbishRecycle/RubbishRecycle.Test/obj/
RubbishRecycle/RubbishRecycle.Test/bin/
