<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sms" type="RubbishRecycle.Config.SmsConfigSection,RubbishRecycle.Config"/>
  </configSections>
  <sms serverUrl="http://gw.api.taobao.com/router/rest" appKey="23340825" appSecretKey="253cefc41aed309b2d27c90102569a46">
    <verifyCodeSms signName="注册验证" templateCode="SMS_7221679"/>
  </sms>
</configuration>